$color-white-50: #ffffff;
$color-white-200: #e6e6e6;

$color-red-60: #F03E3D;

$color-orange-50: #FF9900;

$color-blue-50: #4D8DFF;

$color-green-250: #02897A;

$color-pink-700:  #740A76;

$color-brown-800: #2F281E;

$color-gray-150: #22343D;
$color-gray-100: #22343db9;